{{ define "main" }}

<header class="PostHeader">
  <h1 class="PostHeader-title">Articles</h1>
  <h2 class="u-visually-hidden">Articles on designing and coding things for the web</h2>
</header>
<section class="PostList">
  {{ range .Data.Pages }}
  <article class="PostListItem h-entry">
    <h3 class="PostListItem-title p-name">
      <!-- If external link exists in post matter, else show post page-->
      {{ if isset .Params "affiliatelink" }}
      <a href="{{ .Params.affiliatelink }}" target="_blank" class="u-url">{{ .Title }}</a><span>&#8599;</span>
      {{else}}
      <a href="{{ .Permalink }}" class="u-url">{{ .Title }}</a>
      {{ end }}
    </h3>
    <div hidden>
      <a rel="author" class="p-author h-card" href="{{ $.Site.BaseURL }}">Harry Cresswell</a>
    </div>
    <div class="PostListItem-meta">
      <time class="dt-published" datetime="{{ .Date }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time> —
      {{ partial "post/tags.html" . }}
    </div>
    <p>{{ .Description }}</p>
  </article>
  {{ end }}
</section>

{{ end }}