{{ define "main" }}
  <article id="content" class="Post h-entry">

      <header class="PostHeader">
          <h1 class="PostHeader-title p-name">{{ .Title }}</h1>
      </header>
    
      <div class="PostMeta">
        <time class="PostMeta-date dt-published" datetime="{{ .Date }}">{{ .Date.Format "Mon, Jan 2, 2006" }}</time> —
        {{ partial "post/tags.html" . }}
      </div>

      <div class="PostBody e-content">
        {{ partialCached "heading-anchor.html" .Content }}
        {{ partialCached "post/author.html" . }}
      </div>

  </article><!--/.Content -->
{{ end }}
