  <footer class="Footer">
      <nav class="FooterNav">
          {{ $currentPage := . }}
          {{ range .Site.Menus.footer }}
          <a class="FooterNav-link{{if or ($currentPage.IsMenuCurrent "footer" .) ($currentPage.HasMenuCurrent "footer" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
          {{ end }}
      </nav>
  </footer>
  <script src="{{ $.Site.BaseURL }}app.js"></script>

  <!-- Load responsive images via Cloudinary -->
  <script src="{{ $.Site.BaseURL }}cloudinary-core-shrinkwrap.min.js"></script>

  <script>
      var cl = cloudinary.Cloudinary.new({
        cloud_name: "harrycresswell"
      });
      
      cl.responsive();
  </script>

  </body>
</html>
