<section class="Header">
    <div class="Header-title">
        <a class="p-name u-url" rel="me" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <div hidden>
            <img class="u-photo" src="https://harrycresswell.com/img/hc.jpg" alt="Harry Cresswell">
            <p class="p-note">{{ .Site.Params.Strapline }}</p>
            <a href="mailto:studio@harrycresswell.com" rel="me" class="u-email">studio@harrycresswell.com</a>
        </div>
    </div>
    <nav class="Header-nav">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="Header-link{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
        {{ end }}
    </nav>        
</section><!--/.Header -->
