<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <!-- Primary Meta Tags -->
    <title>{{ if .Page.Title }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }} &middot; {{ $.Site.Params.strapline }}</title>
    <meta name="title" content="Harry Cresswell">
    <meta name="description" content="UX & UI Design. Frontend web development. Technical related blog posts on design and code by 
    github.com/harrycresswell">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ .Permalink }}">
    <meta property="twitter:title" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}">
    <meta property="twitter:description" content="{{ $isHomePage := eq .Title .Site.Title }}{{ .Site.Params.description }}{{ if eq $isHomePage false }} - {{ .Description }}{{ end }}">

    <base href="{{ $.Site.BaseURL }}">

    {{ with .Site.Params.keywords }}<meta name="keywords" content="{{.}}">{{ end }}
    {{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}
    <!-- Pinterest Verification -->
    <meta name="p:domain_verify" content="c60dc1e9be844be29f0fb5525b9afe6f"/>
    <!-- Google Verification -->
    <meta name="google-site-verification" content="9G-wiIrmxQgDxbcs3a3xPW--q3Mxb1VGFN7BsEfJdDk" />
    <!-- Me -->    
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    <link href="mailto:studio@harrycresswell.com" rel="me">
    <link href="https://twitter.com/harrycresswell" rel="me">
    <link href="https://github.com/harrycresswell" rel="me">
    <link href="https://linkedin.com/in/harrycresswell/" rel="me">
    <!-- IndieCert -->
    <link rel="webmention" href="https://webmention.io/harrycresswell.com/webmention" />
    <link rel="pingback" href="https://webmention.io/harrycresswell.com/xmlrpc" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ $.Site.BaseURL }}img/favicon.ico" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/main.css"/>
    <!--<link rel="stylesheet" href="{{ $.Site.BaseURL }}css/syntax.css"/>-->
    <!-- RSS -->
    {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}  
  </head>
  <body class="Wrapper">
  <a name="{{.URL}}top"></a>
