/*------------------------------------*\
    #COMPONENTS: CALLOUT
\*------------------------------------*/

/**
 * Component Block
 */
 
.Callout {
 padding: 2% 0;
 border-top: 2px dotted;
 border-bottom: 2px dotted;
 a {
   text-decoration: underline;
 }

 a:hover {
   text-decoration: none;
 }
}

p.Callout:not(:last-of-type) {
  margin-bottom: 3rem;
 }

p.Callout:not(:first-of-type) {
 margin-top: 3rem;
}