/*------------------------------------*\
    #COMPONENTS: NEWSLETTER
\*------------------------------------*/

/**
 * Component Block
 */

 .Newsletter {
  margin-top: var(--space-2xl)
 }

.NewsletterForm {
  display: flex;
  flex-direction: column;
  margin-block-start: var(--space-m);
}

.NewsletterForm-field {
  &:nth-child(even) {
    margin-block-end: var(--space-m);
  }
}

@include breakpoint(md) {
  .NewsletterForm {
    flex-direction: row;
  }

  .NewsletterForm-label {
    margin-top: 0;
  }

  .NewsletterForm-field {
    flex: 1;
    align-self: flex-end;

    &:nth-child(even) {
      margin-bottom: 0;
    }

    &:not(:last-of-type) {
      margin-inline-end: var(--space-xs);
    }
  }
}