/*------------------------------------*\
    #COMPONENTS: PAGINATION
\*------------------------------------*/

/**
 * Component Block
 */

.Pagination {
  --space: var(--space-3xs);

  .Pagination-itemLink {
    font-family: var(--font-accent);
    padding-block: var(--space-3xs); 
    padding-inline: var(--space-xs);
  }

  .Pagination-item--current {
    background-color: var(--color-brand);

    a  {
      color: var(--color-bg);
      text-decoration: none;
    }
  }
}