/*------------------------------------*\
    #LAYOUTS: TAG-LIST
\*------------------------------------*/


/**
 * Component Block
 */

.TagList {
  columns: 17rem auto;
}

@include breakpoint(md) {
  .TagList {
    column-gap: 64px;
  }
}

.TagListItem {
 margin-block-end: var(--space-m);
}