/*------------------------------------*\
    #OBJECTS: BADGE
\*------------------------------------*/

/**
 * Component Block
 */

.Badge {
  color: var(--color-brand);
  background-color: rgba(var(--color-brand-rgb), 0.05);
  padding: calc(var(--space) /1.5);
}