/*------------------------------------*\
    #OBJECTS: TAG
\*------------------------------------*/


/**
 * Component Block
 */


.Tag {

 a {
   color: var(--color-text);
 }

 a:hover {
   background-color: var(--color-text);
   color: var(--color-bg);
   text-decoration: none;
 }

}