/*------------------------------------*\
    #OBJECTS: BUTTON
\*------------------------------------*/


/**
 * Component Block
 */

.ButtonWrap {
	@include margin-bottom(4);
}

.Button {
	border-width: 0;
	border-radius: 0;
	box-sizing: border-box;
	cursor: pointer;
	outline-style: none;
	text-align: left;
	text-decoration: none;
	transition-duration: 0.1s;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
}

/**
 * Component Modifier
 */

.Button--primary {
	background: var(--color-dark);
	border: solid 2px var(--color-dark);
	color: var(--color-white);
	outline: solid 2px var(--color-dark);
	outline-offset: 0;
	padding: 4px 16px;
}

.Button--secondary {
	background: var(--color-white);
	border: solid 2px var(--color-dark);
	color: var(--color-dark);
	padding: 8px 16px;
}

/**
 * Component Modifier State
 */

.Button--primary:hover,
.Button--primary:focus,
.Button--primary:active,
.Button--secondary:hover,
.Button--secondary:focus,
.Button--secondary:active {
	background-color: var(--color-dark);
	box-shadow: 0 10px 28px rgba(47, 47, 47, .3);
	transform: translateY(-2px);
}

.Button--primary:focus {
	outline: 4px solid #e4deff;
}

.Button--secondary:focus {
	color: var(--color-white);
	outline: 2px dotted var(--color-dark)
}