/*------------------------------------*\
    #OBJECTS: VIDEO
\*------------------------------------*/

/**
 * Component Block
 */

 .Video {
   @include margin-top(1.5);
   @include margin-bottom(1.5);
 }
