/*------------------------------------*\
    #OBJECTS: BUTTON
\*------------------------------------*/


/**
 * Component Block
 */

.ButtonWrap {
	margin-block-end: var(--space-2xl);
}

.Button {
	border-width: 0;
	border-radius: 0;
	box-sizing: border-box;
	cursor: pointer;
	outline-style: none;
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
}

/**
 * Component Modifier
 */

.Button--primary {
	background: var(--color-dark);
	border: solid 2px var(--color-dark);
	color: var(--color-light);
	outline: solid 2px var(--color-dark);
	outline-offset: 0;
	padding: 4px 16px;
}

.Button--secondary {
	background: var(--color-light);
	border: solid 2px var(--color-light);
	color: var(--color-dark);
	padding: 8px 16px;
}

/**
 * Component Modifier State
 */

.Button--primary:hover,
.Button--primary:active,
.Button--secondary:hover,
.Button--secondary:active {
	transform: translateY(-2px);
}

.Button--secondary:hover {
  color: var(--color-dark);
  background-color: var(--color-light);
  outline: dotted 2px var(--color-dark);
  outline-offset: 3px;
}

.Button--primary:focus, 
.Button--secondary:focus {
  outline: dotted 2px var(--color-dark);
  outline-offset: 3px;
}