/*------------------------------------*\
    #OBJECTS: FORM
\*------------------------------------*/

/**
 * Component Block
 */

 .Form {
  @include margin-bottom(1);
 }

 ::placeholder {
   color: var(--color-lighter);
 }

 /**
  * Component Element
  */

.Form-textarea,
.Form-select {
  background: var(--color-lightest);
  border: solid 2px var(--color-lightest);
  border-radius: 0;
  height: 60px;
  outline: 2px solid var(--color-lightest);
  outline-offset: 0;
  padding: 0 16px;
  position: relative;
  transition: all .2s;
  -webkit-appearance: none;
  width: 100%;

    &:focus,
    &:active {
      border: 2px solid var(--color-link);
      outline: 4px solid lighten($color-link, 35%);
      outline-offset: 0;
      transition: all .2s;
    }

}

.Form-select {

    &:after {
      color: var(--color-dark);
      content: '▾';
      display: block;
      height: 14px;
      position: absolute;
      right: 24px;
      top: 16px;
      width: 14px;

   }
}

.Form-textarea {
  min-height: 96px;
  padding: 8px 16px;
}

.Form-button {
  @include margin-top(0.5);
}
