.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link:focus {
  color: var(--color-link);
  background-color: var(--color-white);
  position: absolute;
  z-index: 2;
  top: 4.5rem;
  left: 4rem;
}