/*------------------------------------*\
    #OBJECTS: PROMOBANNER
\*------------------------------------*/


/**
 * Component Block
 */

.PromoBanner {
  background-color: var(--color-link);
  color: var(--color-white);
  font-family: var(--font-accent);
  font-size: var(--step--1);
  padding-block: var(--space-xs);
  padding-inline: var(--space-m);
  text-align: center;

  p {
    max-width: 100%;
  }

  a {
    background-color: var(--color-link);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-link);
    }
  }
}