/*------------------------------------*\
    #BASE: LISTS
\*------------------------------------*/

ul,
ol {
  color: var(--color-text);
  list-style-position: inside;
  max-width: 675px;
  padding-left: 0;

  @include breakpoint(md) {
    list-style-position: outside;
  }
}

ul[class],
ol[class] {
  list-style: none;
}

li>ul {
  margin: 0 1.5rem;
}