/*------------------------------------*\
    #BASE: INPUT
\*------------------------------------*/

form {
  @include margin-bottom(1);
}

// ::placeholder {
//   color: var(--color-lighter);
// }

/**
  * Component Element
  */

input,
textarea {
  background: var(--color-light-mod-2);
  border: solid 2px var(--color-light-mod-2);
  border-radius: 0;
  outline: 2px solid var(--color-light-mod-2);
  outline-offset: 0;
  padding: 4px 16px;
  position: relative;
  width: 100%;
  -webkit-appearance: none;
}

textarea {
  min-height: 96px;
  padding: 8px 16px;
}

select {
  background: var(--color-light-mod-2);
  border: 0;
  cursor: pointer;
  font-size: 0.8rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline-style: none;
  width: 100%;

  &:after {
    color: var(--color-dark);
    content: '▾';
    display: block;
    height: 14px;
    position: absolute;
    right: 24px;
    top: 16px;
    width: 14px;
  }
}

label {
  display: block;
  @include margin-top(0.5);
  @include margin-bottom(0.25);
}

form button {
  @include margin-top(0.5);
}