code,
kbd,
samp {
  background: #f9f9f9;
  color: var(--color-light);
  font-size: 90%;
}

pre {
  background: #f9f9f9;
  overflow: auto;
  overflow-x: scroll;
  overflow-wrap: normal;
  padding: 3%;
}

pre + p {
  @include margin-top(1);
}

p code,
li code {
  padding: .125rem .35rem;
}

code,pre {
	font-family: Menlo,Monaco,"Courier New",monospace
}

code {
	color: var(--color-teal);
	background-color: #f9f9f9;
	border-radius: 2px
}

pre {
	// margin-top: 0;
	// margin-bottom: 1rem
  margin: 3rem 0;
}

pre code {
  font-size: 90%;
	padding: 0;
	color: inherit;
	background-color: transparent
}
