/*------------------------------------*\
    #BASE: QUOTES
\*------------------------------------*/

blockquote {
  border-left: 2px solid var(--color-text);
  color: var(--color-text);
  font-style: italic;

  p {
   margin-inline-start: var(--space-m);
  }
  
  cite,
  figcaption {
    display: block;
    font-size: 80%;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    margin-block-start: var(--space-xs);
    margin-inline-start: var(--space-m);
  }
}