/*------------------------------------*\
    #BASE: HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark);
  font-family: $font-system-md;
  font-weight: $font-weight-bold;
  letter-spacing: -.015em;
}

h1, 
.h1 {
  font-size: var(--step-3);
  line-height: 1.2;
  @include margin-bottom(1);
}

h2,
.h2 {
  font-size: var(--step-2);
  @include margin-top(2.5);
  @include margin-bottom(1);
}

h3,
.h3 {
  font-size: var(--step-1);
  @include margin-top(1.5);
  @include margin-bottom(0.5);
}

h4,
.h4 {
  font-size: var(--step-0);
  @include margin-top(1.5);
  @include margin-bottom(0.5);
}