/*------------------------------------*\
    #BASE: BODY
\*------------------------------------*/
// Set fulid type on the root
html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	font-feature-settings: "calt", "liga", "hist", "onum", "pnum";
	background-color: var(--color-link);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
	background-color: var(--color-white);
	color: var(--color-body);
	font-family: $font-system-rg;
	font-weight: $font-weight-regular;
	line-height: $baseline;
	font-style: normal;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
}

p {
	max-width: 680px;

	&:not(:last-of-type) {
		@include margin-bottom(0.8);
	}
}

/* 
	* See https://piccalil.li/quick-tip/add-scroll-margin-to-all-elements-which-can-be-targeted
*/
[id] {
  scroll-margin-top: 2ex;
}