/*------------------------------------*\
    #BASE: QUOTES
\*------------------------------------*/

blockquote {
  border-left: 2px solid var(--color-dark);
  color: var(--color-dark);
  font-style: italic;
  @include margin-top(1);
  @include margin-bottom(1);

  p {
    @include margin-left(1);
  }
  
  cite,
  figcaption {
    display: block;
    font-size: 80%;
    font-style: normal;
    font-weight: var(--font-weight-bold);
    @include margin-top(0.5);
  }
}