/*------------------------------------*\
    #BASE: CODE
\*------------------------------------*/


code,
kbd,
samp {
  background: var(--color-lightest);
  color: var(--color-light);
  font-size: 90%;
}

pre {
  background: var(--color-lightest);
  overflow: auto;
  overflow-x: scroll;
  overflow-wrap: normal;
  padding: 3%;
}

pre+p {
  @include margin-top(1);
}

p code,
li code {
  padding: .125rem .35rem;
}

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace
}

code {
  color: var(--color-teal);
  background-color: var(--color-lightest);
  border-radius: 2px
}

pre {
  margin: 2rem 0;
}

pre code {
  font-size: 90%;
  padding: 0;
  color: inherit;
  background-color: transparent
}