/*------------------------------------*\
    #BASE: QUOTES
\*------------------------------------*/

blockquote {
  color: var(--color-dark);
  font-size: $mod_1 *1rem;
  font-weight: $font-weight-regular;
  @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
  line-height: 1.5;
  margin: 0;
  padding: 0;

  cite,
  figcaption {
    display: block;
    font-size: 80%;
    font-style: normal;
    font-family: $font-system-md;
    font-weight: $font-weight-bold;
    @include margin-top(0.5);
  }
}
