code,
kbd,
samp {
  background: #f9f9f9;
  color: var(--color-light);
  font-size: 0.9rem;
}

pre {
  background: #f9f9f9;
  font-size: 0.9rem;
  overflow: auto;
  overflow-x: scroll;
  overflow-wrap: normal;
  padding: 3%;
}

pre + p {
  @include margin-top(1);
}

p code,
li code {
  padding: .125rem .35rem;
}

code,pre {
	font-family: Menlo,Monaco,"Courier New",monospace
}

code {
	font-size: 85%;
	color: var(--color-teal);
	background-color: #f9f9f9;
	border-radius: 2px
}

pre {
	margin-top: 0;
	margin-bottom: 1rem
}

pre code {
	padding: 0;
	font-size: 100%;
	color: inherit;
	background-color: transparent
}
