/*
Button styles

Globally style the button element, submit, button and reset input.
Include the .button class for styling <a> tags as buttons. 
*/

button,
.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: var(--color-text);
  border: solid .2rem var(--color-text);
  border-radius: var(--border-radius);
  color: var(--color-bg);
  cursor: pointer;
  padding: var(--space-3xs) var(--space-s);
  display: inline-block;
  text-decoration: none;
  text-align: left;
  white-space: nowrap;
}

button:hover,
button:focus,
.button:hover,
.button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="button"]:hover
input[type="button"]:focus {
  filter: brightness(1.2);
  transform: translateY(-2px);
}

button:disabled,
/* 
For disabled link styles, used with role=link

@link https://www.scottohara.me/blog/2021/05/28/disabled-links.html 
*/
.button[aria-disabled="true"],
input[type="submit"]:disabled,
input[type="reset"]:disabled, 
input[type="button"]:disabled {
  background-color: var(--color-bg-mod-2);
  border: solid .2rem var(--color-bg-mod-2);
  color: var(--color-text-mod-2);
  cursor: not-allowed;
  transform: none;
  filter: none;
}

/* 
EXCEPTIONS

Offer a variant button style

@link https://cube.fyi/exception.html 
*/
button[data-variant='secondary'],
.button[data-variant='secondary'],
input[type="submit"][data-variant='secondary'],
input[type="reset"][data-variant='secondary'],
input[type="button"][data-variant='secondary'] {
  background: var(--color-bg);
  border: solid 2px var(--color-bg);
  color: var(--color-text);
}