/*------------------------------------*\
    #OBJECTS: FORM
\*------------------------------------*/

/**
 * Component Block
 */

 //.Form {}

 .Form-label {
   display: block;
   @include margin-bottom(0.5);
 }

 ::placeholder {
   color: $color-lighter;
 }

 /**
  * Component Element
  */

.Form-input,
.Form-textarea,
.Form-select {
  background: $color-lightest;
  border: solid 2px $color-lightest;
  border-radius: 0;
  font-size: 0.8rem;
  height: 64px;
  @include margin-top(0.25);
  outline: none;
  outline-style: none;
  padding: 0 16px;
  position: relative;
  transition: all .2s;
  width: 100%;
  -webkit-appearance: none;
  
    &:focus,
    &:active {
      border: solid 2px $color-link;
      transition: all .2s;
    }

}

.Form-select {

    &:after {
      color: #000;
      content: '▾';
      display: block;
      height: 14px;
      position: absolute;
      right: 24px;
      top: 16px;
      width: 14px;

   }
}

.Form-textarea {
  font-size: 0.8rem;
  min-height: 96px;
  padding-top: 16px;
}


.Form-button {
  @include margin-bottom(1);
}
