/*------------------------------------*\
    #COMPONENTS: NEWSLETTER
\*------------------------------------*/


/**
 * Component Block
 */

.Newsletter {
  max-width: 1200px;
  margin: 0 auto;
}

.NewsletterForm {
  display: flex;
  flex-direction: column;
}

.NewsletterForm-field {
  &:nth-child(even) {
    @include margin-bottom(0.5);
  }
}

@include breakpoint(md) {
  .NewsletterForm {
    flex-direction: row;
  }
}
.NewsletterForm-field {
  flex: 1;
}

.NewsletterForm-input {
  background: var(--color-lightest);
  border: solid 2px var(--color-lightest);
  border-radius: 0;
  height: 48px;
  @include margin-top(0.3);
  @include margin-bottom(0.5);
  outline: 2px solid var(--color-lightest);
  outline-offset: 0;
  padding: 0 16px;
  position: relative;
  transition: all .2s;
  width: 100%;
  -webkit-appearance: none;

    &:focus,
    &:active {
      border: 2px solid var(--color-link);
      outline: 4px solid lighten($color-link, 35%);
      outline-offset: 0;
      transition: all .2s;
    }
}

@include breakpoint(md) {

  .NewsletterForm-field {
    flex-grow: 2;
    margin-top: 0;
    margin-right: 16px;
  }

  .NewsletterForm-button {
    flex-grow: 1;
    margin-top: 41px;
  }
}
