/*------------------------------------*\
    #COMPONENTS: FOOTER
\*------------------------------------*/


/**
 * Component Block
 */

.Footer {
  display: flex;
  justify-content: space-between;
  @include margin-top(1);
  padding: 0 7% 0 7%;
  padding-bottom: 64px;
}

.FooterNav {

}

.FooterNav-link {
  margin-right: 16px;
  text-decoration: none;
}

.BackToTop {
  span {
    color: $color-link;
    margin-right: 8px;
  }

  a {
  text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
