/*------------------------------------*\
    #COMPONENTS: MAILING-LIST
\*------------------------------------*/


/**
 * Component Block
 */

.Newsletter {
  @include margin-bottom(1);
}

.NewsletterForm {
  display: flex;
  flex-direction: column;
}

@include breakpoint(md) {
  .NewsletterForm {
    flex-direction: row;
  }
}

.NewsletterForm-input {
  margin-top: 16px;
  flex: 1;
}

@include breakpoint(md) {
  .NewsletterForm-input {
    margin-top: 0;
    flex-grow: 2;
    margin-right: 16px;
  }
}

.NewsletterForm-button {
  flex-grow: 1;
  margin-top: 16px;
}

@include breakpoint(md) {
  .NewsletterForm-button {
    margin-top: 0;
  }
}
