/*------------------------------------*\
    #COMPONENTS: HEADER
\*------------------------------------*/


/**
 * Component Block
 */

 .Header {
  text-align: right;
  right: 7%;
  z-index: 999;
}

@include breakpoint(md) {
  .Header {
    position: fixed;
  }
}

.Header-title {
  @include margin-bottom(1);
}

.Header-link {
  display: block;
}
