/*------------------------------------*\
    #COMPONENTS: NAVIGATION
\*------------------------------------*/

/* Navigation */

.MobileMenu {
  background-color: $color-white;
  display: none;
  margin: 0;
  top: 0;
  right: 0;
  padding: 24px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;

}

.MobileMenu ul {
  list-style: none;
  margin: 0;
}

.MobileMenu li:first-of-type {
  @include margin-top(1);
}

.MobileMenu li {
  margin-bottom: 6vh;
}

.MobileMenu a {
  color: $color-dark;
  font-size: 2.5rem;
  font-weight: $font-weight-medium;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

.MobileMenu a:hover {
  text-decoration: underline;
}

.MobileMenu.is-visible {
  display: block;
}

@include breakpoint(md) {
  .MobileMenu.is-visible {
    display: none;
  }
}
