/*------------------------------------*\
    #COMPONENTS: MAILING-LIST
\*------------------------------------*/


/**
 * Component Block
 */

.Newsletter {
  @include margin-bottom(2);
}

@include breakpoint(md) {
  .NewsletterForm {
    display: flex;
  }
}

.NewsletterForm-input {
  margin-top: 16px;
}

@include breakpoint(md) {
  .NewsletterForm-input {
    margin-top: 0;
    margin-right: 16px;
    max-width: 35%;
  }
}

.NewsletterForm-button {
  width: 100%;
  margin-top: 16px;
}

@include breakpoint(md) {
  .NewsletterForm-button {
    margin-top: 0;
  }
}
