/*------------------------------------*\
    #COMPONENTS: HEADER
\*------------------------------------*/


/**
 * Component Block
 */

 .Header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; 
  margin: 0 auto;
  padding: 7% 0;

  a {
    color: var(--color-dark);
    text-decoration: none;

    &:hover {
      background-color: unset;
      text-decoration: underline;
    }
  }
}

.Header-link {
  display: block;
  text-align: right;
}

@include breakpoint(md) {
  .Header {
    background: var(--color-white);
  }

  .Header-nav {
    display: flex;
  }

  .Header-link {
    text-align: left;
  }

  .Header-link:not(:last-of-type) {
    @include margin-right(1);
  }
}