/*------------------------------------*\
    #COMPONENTS: RÉSUMÉ
\*------------------------------------*/


/**
 * Component Block
 */

.Résumé {
    background: #fff;
    line-height: 32px;
    margin: 0 auto;
    max-width: 1440px;
    padding: 32px;
    
    p {
      margin: 0;
    }
    
    img {
      object-fit: cover;
      height: 352px;
    }
  }
  
  .Résumé-header {
    margin-bottom: 32px;
  }
  
  p.Résumé-headerTitle {
    font-weight: 700;
    margin-bottom: 16px;
  }
  
  .Résumé-headerLinks a {
    display: block;
  }
  
  .Résumé-mainItemSection:not(:last-of-type) {
    margin-bottom: 16px;
  }
  
    p.Résumé-mainItemTitle {
      border-bottom: solid 1px;
      font-weight: 700;
      margin-bottom: 16px;
      margin-top: 32px;
      padding-bottom: 16px;
  }
  
  .Résumé-flex a:not(:last-of-type) {
    margin-right: 16px;
  }
  
  .Résumé-flexCol:not(:first-of-type) {
    margin-top: 16px;
  }
  
  .Résumé-footer {
    margin-top: 32px;
  }
  
  @media screen and (min-width: 800px) {
    /* Résumé-container */
    .Résumé-container {
       background: #fff;
       box-shadow: 0 2px 4px 0 rgba(0,0,0,.04), 0 4px 5px 0 rgba(0,0,0,.04), 0 1px 10px 0 rgba(0,0,0,.05);
       margin: 32px;
       padding: 128px 0;
    }
   
    /* Résumé-header */
    .Résumé-header {
      display: grid;
      grid-template-columns: 2fr 13fr 1fr 13fr 1fr 13fr 2fr;
      margin-bottom: 32px;
    }
    
    .Résumé-headerTitle {
      grid-column: 2 / 3;
    }
    
    .Résumé-headerLinks {
      grid-column: 6 / 7;
    }
    
    .Résumé-hero {
      display: grid;
      grid-template-columns: 2fr 13fr 1fr 2fr 11fr 1fr 13fr 2fr;
      margin-bottom: 64px;
    }
    
    .Résumé-heroItem:nth-child(1) {
      grid-column: 1 / 5;
      grid-row: 1;
      z-index: 1;
    }
    
    .Résumé-heroItem:nth-child(2) {
      grid-column: 4 / 8;
      grid-row: 1;
      z-index: 2;
    }
    
    .Résumé-heroItemTitle {
      font-size: 3rem;
      line-height: 3rem;
      margin-top: 160px;
    }
    
    /* Résumé-main */
    .Résumé-main {
      display: grid;
      grid-template-columns: 2fr 13fr 1fr 27fr 2fr;
      grid-row-gap: 64px;
    }
  
    .Résumé-mainItemSection:not(:last-of-type) {
      margin-bottom: 32px;
    }
    
    .Résumé-mainItem:nth-child(1) {
      grid-column: 2 / 3;
    }
    
    .Résumé-mainItem:nth-child(2) {
      grid-column: 4 / 5;
    }
    
    .Résumé-mainItem:nth-child(3) {
      grid-column: 2 / 3;
    }
    
    .Résumé-mainItem:nth-child(4) {
      grid-column: 4 / 5;
    }
    
    .Résumé-mainItem:nth-child(5) {
      grid-column: 2 / 3;
    }
    
    .Résumé-mainItem:nth-child(6) {
      grid-column: 4 / 5;
    }
    
    .Résumé-mainItem:nth-child(7) {
      grid-column: 2 / 3;
    }
      
    .Résumé-mainItem:nth-child(8) {
      grid-column: 4 / 5;
    }
    
    .Résumé-mainItem:nth-child(9) {
      grid-column: 2 / 3;
    }
      
    .Résumé-mainItem:nth-child(10) {
      grid-column: 4 / 5;
    }
    
    .Résumé-mainItem:nth-child(11) {
      grid-column: 2 / 3;
    }
      
    .Résumé-mainItem:nth-child(12) {
      grid-column: 4 / 5;
    }
    
      .Résumé-mainItem:nth-child(13) {
      grid-column: 2 / 3;
    }
      
    .Résumé-mainItem:nth-child(14) {
      grid-column: 4 / 5;
    }
    
     p.Résumé-mainItemTitle {
      border: none;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
    }
    
    /* Résumé-footer */
    .Résumé-footer {
      margin-top: 0;
      margin-right: 32px;
      margin-bottom: 96px;
      margin-left: 32px;
      
      
    }
    
    .Résumé-flex--sb {
      justify-content: space-between;
    }
  }
  
  @media screen and (min-width: 960px) {
    .Résumé-flex {
      display: flex;
      
    }
    
    .Résumé-flexCol {
      flex: 1;   
    }
    
    .Résumé-flexCol:not(:first-of-type) {
      margin-top: 0;
    }
    
     .Résumé-flexCol:not(:last-of-type) {
      margin-right: 48px;
    }
  }
  
  /* Helpers */
  
  .Résumé-accent {
    font-size: 16px;
    font-style: italic;
  }
  
  
  
  