{{ $image := .Params.image }}
{{ $alt := .Params.image_alt }}
{{ $ratio := .Params.image_ratio }}
{{ $baseURL := .baseURL }}
<section>
  <figure class="Image full-bleed">
    <div class="{{- with $ratio -}}aspect-ratio-{{ markdownify . }}{{- end -}}">
      {{ with $image -}}
      <img
      srcset="{{ $baseURL }}/f_auto,q_80,w_256/{{ . }} 256w,
        {{ $baseURL }}/f_auto,q_80,w_512/{{ . }} 512w,
        {{ $baseURL }}/f_auto,q_80,w_768/{{ . }} 768w,
        {{ $baseURL }}/f_auto,q_80,w_1024/{{ . }} 1024w,
        {{ $baseURL }}/f_auto,q_80,w_1280/{{ . }} 1280w,
        {{ $baseURL }}/f_auto,q_80,w_1640/{{ . }} 1640w"
      src="{{ $baseURL }}/w_auto,dpr_auto,c_scale,f_auto,q_auto/{{ . }}"
      class="lazyload " alt="{{- with $alt -}}{{ . }}{{- end -}}">
      {{- end }}
    </div><!-- /.ImageRatio -->
    {{- with .Params.image_caption -}}
      <figcaption class="mono">{{ markdownify . }}</figcaption>
    {{- end -}}
  </figure><!-- /.Image -->
</section>
