{{ $image := .Params.image }}
{{ $alt := .Params.image_alt }}
{{ $ratio := .Params.image_ratio }}
{{ $baseURL := .baseURL }}
{{ $caption := .Params.image_caption }}
<section>
  <figure class="Image">
    <div class="{{- with $ratio -}}aspect-ratio-{{ markdownify . }}{{- end -}}">
      {{ with $image -}}
      <img
      srcset="{{ $baseURL }}/f_auto,q_auto,w_256/{{ . }} 256w,
        {{ $baseURL }}/f_auto,q_auto,w_512/{{ . }} 512w,
        {{ $baseURL }}/f_auto,q_auto,w_768/{{ . }} 768w,
        {{ $baseURL }}/f_auto,q_auto,w_1024/{{ . }} 1024w,
        {{ $baseURL }}/f_auto,q_auto,w_2280/{{ . }} 1280w,
        {{ $baseURL }}/f_auto,q_auto,w_3000/{{ . }} 1640w"
      src="{{ $baseURL }}/w_auto,dpr_auto,c_scale,f_auto,q_auto/{{ . }}"
      class="lazyload" 
      alt="{{- with $alt -}}{{ . }}{{- end -}}"
      decoding="async">
      {{- end }}
    </div><!-- /.ImageRatio -->
    {{- with $caption -}}
      <figcaption class="mono">{{ markdownify . }}</figcaption>
    {{- end -}}
  </figure><!-- /.Image -->
</section>