{{ $image := .Params.image }}
{{ $alt := .Params.image_alt }}
{{ $ratio := .Params.image_ratio }}
{{ $baseURL := .baseURL }}
{{ $caption := .Params.image_caption }}
<section>
  <figure class="Image">
    <div class="{{- with $ratio -}}aspect-ratio-{{ markdownify . }}{{- end -}}">
      {{ with $image -}}
      <source 
          type="image/avif" 
          class="lazyload object-fit-cover"
          srcset="{{ $baseURL }}/f_avif,q_auto,w_256/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 256w,
                  {{ $baseURL }}/f_avif,q_auto,w_512/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 512w,
                  {{ $baseURL }}/f_avif,q_auto,w_768/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 768w,
                  {{ $baseURL }}/f_avif,q_auto,w_1024/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 1024w,
                  {{ $baseURL }}/f_webp,q_auto,w_1280/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 1280w,
                  {{ $baseURL }}/f_webp,q_auto,w_1640/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 1640w">
      <source 
        type="image/webp"
        class="lazyload object-fit-cover"
        srcset="{{ $baseURL }}/f_webp,q_auto,w_500/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 256w,
                {{ $baseURL }}/f_webp,q_auto,w_710/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 512w,
                {{ $baseURL }}/f_webp,q_auto,w_768/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 768w,
                {{ $baseURL }}/f_webp,q_auto,w_1024/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 1024w,
                {{ $baseURL }}/f_webp,q_auto,w_1280/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 1280w,
                {{ $baseURL }}/f_webp,q_auto,w_1640/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 1640w" >
      <img
      srcset="{{ $baseURL }}/f_auto,q_auto,w_256/{{ . }} 256w,
        {{ $baseURL }}/f_auto,q_auto,w_512/{{ . }} 512w,
        {{ $baseURL }}/f_auto,q_auto,w_768/{{ . }} 768w,
        {{ $baseURL }}/f_auto,q_auto,w_1024/{{ . }} 1024w,
        {{ $baseURL }}/f_auto,q_auto,w_2280/{{ . }} 1280w,
        {{ $baseURL }}/f_auto,q_auto,w_3000/{{ . }} 1640w"
      src="{{ $baseURL }}/w_auto,dpr_auto,c_scale,f_auto,q_auto/{{ . }}"
      class="lazyload" 
      alt="{{- with $alt -}}{{ . }}{{- end -}}"
      decoding="async">
      {{- end }}
    </div><!-- /.ImageRatio -->
    {{- with $caption -}}
      <figcaption class="mono">{{ markdownify . }}</figcaption>
    {{- end -}}
  </figure><!-- /.Image -->
</section>