{{ $baseURL := .baseURL }}
{{ $image := .Params.image }}
{{ $ratio := .Params.image_ratio }}
{{ $alt := .Params.image_alt }}
<section class="Section Grid">
  <figure class="Grid-1-6 Grid-as-center">
    <blockquote class="PullQuote PullQuote--left">
      <p>
      {{- with .Params.quote_text -}}
        {{ markdownify . }}
      {{- end -}}
      </p>
      {{- with .Params.quote_caption -}}<figcaption>&mdash; {{ markdownify . }}</figcaption>{{- end -}}
    </blockquote>
  </figure>
  <div class="Grid-7-6">
    <figure class="Image">
      <picture class="{{- with $ratio -}}aspect-ratio-{{ markdownify . }}{{- end -}}">
        {{- with $image -}}
        <source 
          type="image/avif" 
          class="lazyload object-fit-cover"
          srcset="{{ $baseURL }}/f_avif,q_auto,w_256/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 256w,
                  {{ $baseURL }}/f_avif,q_auto,w_512/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 512w,
                  {{ $baseURL }}/f_avif,q_auto,w_768/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 768w,
                  {{ $baseURL }}/f_avif,q_auto,w_1024/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 1024w,
                  {{ $baseURL }}/f_webp,q_auto,w_1280/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 1280w,
                  {{ $baseURL }}/f_webp,q_auto,w_1640/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".avif" }} 1640w">
        <source 
          type="image/webp"
          class="lazyload object-fit-cover"
          srcset="{{ $baseURL }}/f_webp,q_auto,w_500/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 256w,
                  {{ $baseURL }}/f_webp,q_auto,w_710/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 512w,
                  {{ $baseURL }}/f_webp,q_auto,w_768/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 768w,
                  {{ $baseURL }}/f_webp,q_auto,w_1024/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 1024w,
                  {{ $baseURL }}/f_webp,q_auto,w_1280/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 1280w,
                  {{ $baseURL }}/f_webp,q_auto,w_1640/{{ . | replaceRE ".jpg|.jpeg|.JPG|.png|.PNG" ".webp" }} 1640w" >
        <img
          srcset="
          {{ $baseURL }}/f_auto,q_80,w_256/{{ . }} 256w,
          {{ $baseURL }}/f_auto,q_80,w_512/{{ . }} 512w,
          {{ $baseURL }}/f_auto,q_80,w_768/{{ . }} 768w,
          {{ $baseURL }}/f_auto,q_80,w_1024/{{ . }} 1024w,
          {{ $baseURL }}/f_auto,q_80,w_1280/{{ . }} 1280w,
          {{ $baseURL }}/f_auto,q_80,w_1640/{{ . }} 1640w"
          sizes="(min-width: 768px) 50vw, 100vw"
          src="{{ $baseURL }}/f_auto,q_80,w_500/{{ . }}"
          class="lazyload " 
          alt="{{- with $alt -}}{{ markdownify . }}{{- end -}}"
          decoding="async"
          {{ if (eq $ratio "square") }}
            width="1000"
            height="1000"
          {{ else if (eq $ratio "landscape") }}
            width="100%"
            height="853"
          {{ else if (eq $ratio "portrait") }}
            width="960"
            height="1280"
          {{ end }}>
        {{- end -}}
      </picture>
      {{- with .Params.image_caption -}}
        <figcaption class="mono">{{ markdownify . }}</figcaption>
      {{- end -}}
    </figure>
  </div>
</section>