/*------------------------------------*\
    #LAYOUTS: POST-LIST
\*------------------------------------*/


/**
 * Component Block
 */

//.PostList {}

//.PostListItem {}


/**
 * Component Element
 */


 .PostListItem-title span {
   color: $color-link;
   font-size: 70%;
   margin-left: 10px;
 }
