/*------------------------------------*\
    #LAYOUTS: POST-LIST
\*------------------------------------*/


/**
 * Component Block
 */

.PostList {
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
}

.PostListItem {
  @include margin-bottom(3);

  &:first-of-type {
    @include margin-top(2);
  }

  p {
    color: var(--color-body);
  }
}


/**
 * Component Element
 */
 .PostListItem-title span {
   color: var(--color-dark);
   font-size: 70%;
   margin-left: 10px;
 }

 .PostListItem-title {
    line-height: 1.2;
    @include margin-top(0);
    @include margin-bottom(0.5);
    max-width: 960px;

   a {
     color: var(--color-dark);
     text-decoration: none;
   }

   a:hover {
     background-color: unset;
     text-decoration: underline;
   }
 }

 .PostListItem-meta {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  @include margin-bottom(0.5);
 }
