/*------------------------------------*\
    #LAYOUTS: POST-LIST
\*------------------------------------*/


/**
 * Component Block
 */

//.PostList {}

.PostList-title span {
  margin-left: 10px;
  font-size: 70%;
}

.PostList-meta {
  display: flex;
  @include margin-bottom(1);
 }

/**
 * Component Element
 */
