/*------------------------------------*\
    #LAYOUTS: WRAPPER
\*------------------------------------*/


/**
 * Component Block
 */

 
.Wrapper {
    padding: 0 4% 0 4%;
}

@include breakpoint(md) {
    .Wrapper {
        padding: 0 7% 0 7%;
    }
}