/*------------------------------------*\
    #LAYOUTS: POST
\*------------------------------------*/


/**
 * Component Block
 */

.Post {
  max-width: 1024px;
}

.PostList {
  list-style: none;
}

.PostMeta {
  display: flex;
  @include margin-bottom(1);
 }

/**
 * Component Element
 */

 .PostHeader-title {
   max-width: 40rem;
 }

.PostMeta-tag {

  a {
    color: $color-dark;
    text-decoration: underline;
  }
  a:not(:last-child):after {
    content:',';
  }

}

.Post p.Message {
  border: dotted 1px $color-link;
  color: $color-link;
  padding: 2% 3%;

  a {
    text-decoration: underline;
  }
}

.Post .intro, .intro {
  font-size: 120%;
  line-height: 1.6;
}

.PostRelated {
  @include margin-bottom(2);
}
