/*------------------------------------*\
    #UTILITIES: COLOR
\*------------------------------------*/

.dark {
  color: var(--color-dark);
}

.body {
  color: var(--color-body);
}

.light {
  color: var(--color-light);
}

.lighter {
  color: var(--color-lighter);
}

.lightest {
  color: var(--color-lightest);
}

.link {
  color: var(--color-link);
}