/*------------------------------------*\
    #UTILITIES: LAYOUT
\*------------------------------------*/

.u-visually-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/**
 * FULL BLEED
 *
 * Add this class to an element to make it fill the width of the screen 
 * and sit horizontally central
 * https://andy-bell.design/wrote/creating-a-full-bleed-css-utility/
 */
 .full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
 }