{{ define "main" }}

  <header class="PostHeader">
    <h1 class="PostHeader-title">Projects</h1>
    <h2 class="u-visually-hidden">A collection of recent project case studies</h2>
  </header>
  <section class="PostList">
  {{ range .Data.Pages }}
    <article class="PostListItem h-entry">
      <h3 class="PostListItem-title p-name">
        <a href="{{ .Permalink }}" class="u-url">{{ .Title }}</a>
      </h3>
      <p class="PostDescription">{{ .Description }}</p>
      <div hidden>
        <a rel="author" class="p-author h-card" href="{{ $.Site.BaseURL }}">Harry Cresswell</a>
      </div>
    </article>
  {{ end }}
  </section>

{{ end }}
