/*------------------------------------*\
    #BASE: BODY
\*------------------------------------*/
// Set fulid type on the root
html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	font-feature-settings: "calt","liga","hist","onum","pnum";
	background-color: var(--color-link);
}

body {
	background-color: var(--color-white);
	color: var(--color-body);
	font-family: $font-system-rg;
	font-weight: $font-weight-regular;
	line-height: $baseline;
	font-style: normal;
}

p {
	max-width: 680px;
	@include margin-bottom(0.8);
}
