/*------------------------------------*\
    #BASE: LISTS
\*------------------------------------*/

ul, ol {
  color: $color-dark;
  list-style-position: inside;
  max-width: 675px;
  padding-left: 0;

  @include breakpoint(md) {
    list-style-position: outside;
  }
}

ul + p,
ol + p {
  @include margin-top(1);
}


