/*------------------------------------*\
    #BASE: HEADINGS
\*------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  color: var(--color-dark);
  font-family: $font-system-md;
  font-weight: $font-weight-bold;
  letter-spacing: -.015em;
}

h1, 
.size-1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
  line-height: 1;
  @include margin-bottom(1);
}

h2,
.size-2 {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
  @include margin-top(1.5);
  @include margin-bottom(0.5);
}

h3,
.size-3  {
  font-size: $mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1 *$min_font, $mod_2*$mod_2 *$min_font);
  @include margin-top(1.5);
  @include margin-bottom(0.5);
}

h4,
.size-4 {
  font-size: $mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
  @include margin-top(1.5);
  @include margin-bottom(0.5);
}