/*------------------------------------*\
    #BASE: QUOTES
\*------------------------------------*/

blockquote {
  color: $color-link;
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1 *$min_font, $mod_2 *$min_font);
  line-height: 1.3;
  margin-left: 48px;
  max-width: 32em;
  @include margin-top(2);
  @include margin-bottom(2);

  p {
    margin-bottom: 0;
    min-width: 90%;
  }

  cite {
    font-size: 60%;
    font-style: normal;
    font-family: $font-system-md;
  }
}
