/*------------------------------------*\
    #ABSTRACTS: COLORS
\*------------------------------------*/

$color-link: #542bff;

:root {
    --color-dark: #222;
    --color-body: #373a3c;
    --color-light: #767676;
    --color-lighter: #969EB6;
    --color-lightest: #E5E7ED;
    --color-link: #542bff;
    /* #542bff in decimal RGB */
    --color-link-rgb: 84, 43, 255;
    --color-white: #FBFCFF;
}