/*------------------------------------*\
    #ABSTRACTS: COLORS
\*------------------------------------*/

$color-link: #542bff;

:root {
    --color-brand: #542bff;
    --color-dark: #172240;
    --color-light: #FFFFFF;
    --color-light-mod-1: #F5F8FE;
    --color-light-mod-2: #EBEFF7;
    /* #542bff in decimal RGB */
    --color-brand-rgb: 84, 43, 255;
}