/*------------------------------------*\
    #ABSTRACTS: BREAKPOINTS
\*------------------------------------*/

$bp-sm : 37.5em; // 600px = 37.5em
$bp-md : 48em; // 768px = 48em
$bp-lg : 75em; // 1200px = 75em

/**
 * Breakpoints
 *
 *
$base-font-size = 100%/16px
  *
*/


@mixin breakpoint($class) {

  @if $class == sm {
    @media (min-width: $bp-sm) { @content; }
  }

  @else if $class == md {
    @media (min-width: $bp-md) { @content; }
  }

  @else if $class == lg {
    @media (min-width: $bp-lg) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, ml, lg, xl, bg, xbg";
  }
}

/**
* Mobile-first styles FTW
*
Example:
*/
aside.primary {
  /* Regular content */
  @include breakpoint(sm) {
    /* responsive content */
  }
}
