<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  {{ partial "head.html" . .Section  }}
  <body class="wrapper h-card">
    <a class="skip-link" href="#main-content">Skip to main content</a>
    {{- partial "promo-banner.html" . -}}
    
    {{ partial "header.html" . }}

    <main id="main-content">
    
      {{ block "main" . }}{{ end }}

    </main>

    {{ partial "newsletter.html" . }}

    {{ partialCached "footer.html" . .Type }}

    {{ partial "scripts.html" . }}
  </body>
</html>