{{ define "main" }}
  <article id="content" class="Post h-entry">

      <header class="PostHeader">
          <h1 class="PostHeader-title p-name">{{ .Title }}</h1>
      </header>

      <section class="PostMeta">
        <time class="PostMeta-date dt-published">{{ .Date.Format "Mon, Jan 2, 2006" }}</time> —
        {{ partial "post/tags.html" . }}
      </section>

      <section class="PostBody e-content">
        {{ partial "heading-anchor.html" .Content }} 
      </section>

      <footer>
      {{ partialCached "post/author.html" . }}
      </footer>

  </article><!--/.Content -->
{{ end }}
