/*------------------------------------*\
    #LAYOUTS: BLOCKS
\*------------------------------------*/

/**
 * Component Block
 */

 .Blocks {
   h1,
   h2 {
     margin: 0;
     line-height: 1.1;
   }

   h3 {
    line-height: 1.2;
   }
   

  section {
    @include margin-top(2);
    @include margin-bottom(2);
  }

 @include breakpoint(md) {
  section {
        @include margin-top(4);
        @include margin-bottom(4);
    }
  }
}