/*------------------------------------*\
    #LAYOUTS: POST-LIST
\*------------------------------------*/


/**
 * Component Block
 */

.PostListItem {
  margin-block-end: var(--space-2xl);

  p {
    color: var(--color-dark);
  }
}


/**
 * Component Element
 */

.PostListItem-title {
  line-height: 1.2;
  max-width: 30ch;

  a {
    color: var(--color-dark);
    text-decoration: none;

    &:hover {
      background-color: unset;
      text-decoration: underline;
    }
  }
}

.PostListItem-meta {
  display: flex;
}