/*------------------------------------*\
    #LAYOUTS: GRID
\*------------------------------------*/

/**
 * A utility that creates a simple 1 dimentional 12 column grid, using CSS grid
 *
 * Content will span a minimum of 3 columns, for sake of simplicity
 */

 .Grid {
  display: grid;
  grid-gap: 24px;
 }

 .Grid--2col {
  grid-template-columns: repeat(2, 1fr);
}


@include breakpoint(md) {

  /**
 * Component Block
 */

  .Grid,
  .Grid--2col {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 48px;
    max-width: 1248px;
  }

  /**
 * Component Element
 */

  /* From column 1, span 3 columns */
  .Grid-1-3 {
    grid-column: 1 / span 3;
  }

  /* From column 1, span 6 columns */
  .Grid-1-6 {
    grid-column: 1 / span 6;
  }

   /* From column 1, span 12 columns */
   .Grid-1-12 {
    grid-column: 1 / span 12;
  }

  /* From column 4, span 3 columns */
  .Grid-4-3 {
    grid-column: 4 / span 3;
  }

  /* From column 7, span 3 columns */
  .Grid-7-3 {
    grid-column: 7 / span 3;
  }

  /* From column 7, span 6 columns */
  .Grid-7-6 {
    grid-column: 7 / span 6;
  }

  /* From column 10, span 3 columns */
  .Grid-10-3 {
    grid-column: 10 / span 3;
  }

  .Grid-as-center {
    align-self: center;
  }

}