/*------------------------------------*\
    #LAYOUTS: POST
\*------------------------------------*/

/**
 * Component Block
 */


.Post .intro,
.intro {
  font-size: 110%;
  line-height: 1.5;
  @include margin-bottom(1);
  max-width: 52ch;
}

.PostAuthor {
  display: flex;
  align-items: center;
  @include margin-top(3);
  @include margin-bottom(3);

  h2 {
    font-size: var(--step-1);
  }

  h2,
  p {
    margin: 0;
  }

}

.Post .heading-anchor {
  display: none;
  position: absolute;
  top: 0;
  left: -1em;
  width: 1em;
  opacity: 0;
  font-weight: 400;

  @include breakpoint(sm) {
    display: block;
  }
}

.Post h2:focus>.heading-anchor,
.Post h2:hover>.heading-anchor,
.Post h3:focus>.heading-anchor,
.Post h3:hover>.heading-anchor,
.Post h4:focus>.heading-anchor,
.Post h4:hover>.heading-anchor {
  opacity: 1;
}


.Post .heading-anchor {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--color-link);
    background: none;
  }
}