/*------------------------------------*\
    #LAYOUTS: POST
\*------------------------------------*/


/**
 * Component Block
 */

//.Post {}

.PostBody {
  @include margin-top(2);
  margin: 0 auto;

  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    position: relative;
  }

  p {
    @include margin-bottom(0.8);
  }

  .intro {
    max-width: 52ch;
  }

}

/**
 * Component Element
 */

.PostMeta-tag {

  a {
    color: var(--color-dark);
    text-decoration: underline;
  }

  a:hover {
    background-color: var(--color-dark);
    color: var(--color-white);
    text-decoration: none;
  }

  a:not(:last-child):after {
    content: ',';
  }

}

.Post .intro,
.intro {
  font-size: 110%;
  line-height: 1.5;
  @include margin-bottom(1);
}

.PostAuthor {
  display: flex;
  align-items: center;
  @include margin-top(3);
  @include margin-bottom(3);

  h2 {
    font-size: var(--step-1);
  }

  h2,
  p {
    margin: 0;
  }

}

.PostRelated {
  @include margin-bottom(2);
}

.Post .heading-anchor {
  display: none;
  position: absolute;
  top: 0;
  left: -1em;
  width: 1em;
  opacity: 0;
  font-weight: 400;

  @include breakpoint(sm) {
    display: block;
  }
}

.Post h2:focus>.heading-anchor,
.Post h2:hover>.heading-anchor,
.Post h3:focus>.heading-anchor,
.Post h3:hover>.heading-anchor,
.Post h4:focus>.heading-anchor,
.Post h4:hover>.heading-anchor {
  opacity: 1;
}


.Post .heading-anchor {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--color-link);
    background: none;
  }
}