/*------------------------------------*\
    #LAYOUTS: TAG-LIST
\*------------------------------------*/


/**
 * Component Block
 */

.TagList {
  columns: 14rem auto;
}

@include breakpoint(md) {
  .TagList {
    column-gap: 64px;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}

.TagListItem {
  margin: 0 0 16px 0;
}


.TagListItem-title {
  margin: 0;
}

// .TagListItem {
//   border: 1px dotted var(--color-link);
//   padding: 32px;
// }