.Likes {
  display: grid;

  @include breakpoint(md) {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  }

  grid-gap: 32px;
  justify-content: space-between;
  margin: calc(var(--space)*6) 0;
}

.LikesItem {
  border: dotted 1px var(--color-dark);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(var(--space)*3);

  h3 {
    min-width: 100%;
    margin: 0;
  }

  &:focus-within {
    border: solid 1px var(--color-dark);
  }
}

.LikesItem-url {
  margin-top: calc(var(--space) *3);
}