/*------------------------------------*\
    #LAYOUTS: CONTAINER
\*------------------------------------*/


/**
 * Component Block
 */

.Container {
    padding-top: 24%;
    max-width: 1600px;
    margin: 0 auto;
}

@include breakpoint(md) {
    .Container {
        padding-top: 10%;
    }
}