/*------------------------------------*\
    #LAYOUTS: PROJECT
\*------------------------------------*/


/**
 * Component Block
 */

.Project {
  @include margin-bottom(3);
}

.Project-header {
  h2 {
    font-size: var(--step-1);
    font-weight: $font-weight-regular;
    line-height: 1.4;
    max-width: 65ch;
    letter-spacing: unset;
  }
}

