/*------------------------------------*\
    #COMPONENTS: HEADER
\*------------------------------------*/


/**
 * Component Block
 */

.Header {
  display: flex;
  font-weight: 500;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding: 4% 0;

  a {
    color: var(--color-dark);
    text-decoration: none;

    &:hover {
      background-color: unset;
      text-decoration: underline;
    }
  }
}