/*------------------------------------*\
    #COMPONENTS: PULLQUOTE
\*------------------------------------*/


/**
 * Component Block
 */

.PullQuote {
  border-left: none;
  color: var(--color-dark);
  max-width: 430px;

  >p {
    font-size: 110%;
    margin-left: 0;
  }

  >figcaption {
    margin-left: 0;
  }
}

/**
 * Component Modifier
 */

.PullQuote--left {
  margin-top: 0;
  margin-bottom: 0;

  @include breakpoint(md) {
    margin-left: 0;
  }

}

.PullQuote--right {
  float: right;
  margin-bottom: var(--space-m);
  margin-left: var(--space-m);
  width: 400px;

}