/*------------------------------------*\
    #COMPONENTS: PULLQUOTE
\*------------------------------------*/


/**
 * Component Block
 */

.PullQuote {
  border-left: none;
  color: var(--color-dark);
  max-width: 430px;

  >p {
    font-size: 110%;
    @include margin-bottom(0.5);
    @include margin-left(0);
  }

  >figcaption {
    @include margin-left(0);
  }
}

/**
 * Component Modifier
 */

.PullQuote--left {
  @include margin-top(0);
  @include margin-bottom(0);

  @include breakpoint(md) {
    @include margin-left(0);
  }

}

.PullQuote--right {
  float: right;
  @include margin-top(1);
  @include margin-bottom(2);
  @include margin-left(2);
  @include margin-right(1);
  width: 400px;

  @include breakpoint(md) {
    @include margin-right(8);
  }

}