/*------------------------------------*\
    #COMPONENTS: NAV
\*------------------------------------*/

/**
 * Component Block
 */

.Nav-list {
  font-weight: 500;
  text-align: right;
}

.Nav-listItemLink {
  color: var(--color-dark);
  text-decoration: none;

  &:hover {
    color: inherit;
    background-color: unset;
    text-decoration: underline;
  }
}

@include breakpoint(md) {

  .Nav-list {
    display: flex;
    text-align: left;
  }

  .Nav-listItem:not(:last-of-type) {
    @include margin-right(1);
  }
}