/*------------------------------------*\
    #COMPONENTS: FOOTER
\*------------------------------------*/


/**
 * Component Block
 */

.Footer {
  max-width: 1600px;
  margin: 0 auto;
  @include margin-top(1);
  padding-bottom: 64px;

  p {
    @include margin-top(1);
  }

}