/*------------------------------------*\
    #COMPONENTS: NEWSLETTER
\*------------------------------------*/


/**
 * Component Block
 */

.Newsletter {
  max-width: 1248px;
  margin: 0 auto;
}

.NewsletterForm {
  display: flex;
  flex-direction: column;
  @include margin-top(1);
}

.NewsletterForm-field {
  &:nth-child(even) {
    @include margin-bottom(1);
  }
}

@include breakpoint(md) {
  .NewsletterForm {
    flex-direction: row;
  }

  .NewsletterForm-label {
    @include margin-top(0);
  }

  .NewsletterForm-field {
    flex: 1;
    align-self: flex-end;

    &:nth-child(even) {
      @include margin-bottom(0);
    }

    &:not(:last-of-type) {
      @include margin-right(0.5);
    }
  }
}