/*------------------------------------*\
    #COMPONENTS: HERO
\*------------------------------------*/

/**
 * Component Block
 */

.Hero {
  @include margin-top(6);
  @include margin-bottom(6);
}

.Hero-date {
  display: flex;
  margin-top: .8rem;
}

.Hero-mod {
  margin-top: 2rem;
}