/*------------------------------------*\
    #COMPONENTS: CALLOUT
\*------------------------------------*/

/**
 * Component Block
 */
 
.Callout {
 padding: 2% 0;
 border-top: 2px dotted;
 border-bottom: 2px dotted;
 margin-bottom: 4rem !important;

 a {
   text-decoration: underline;
 }

 a:hover {
   text-decoration: none;
 }
}