/*------------------------------------*\
    #COMPONENTS: HERO
\*------------------------------------*/

/**
 * Component Block
 */

.Hero {
  margin: 12% 0;
}

.Hero-date {
  display: flex;
  margin-top: calc(var(--space) *4);
}