/*------------------------------------*\
    #COMPONENTS: NAV
\*------------------------------------*/

/**
 * Component Block
 */

.Nav-list {
  display: flex;
  gap: calc(var(--space) *1.5);
}

.Nav-listItemLink {
  color: var(--color-dark);
  text-decoration: none;
  padding: calc(var(--space) *.5);

  &:hover {
    color: inherit;
    background-color: unset;
    text-decoration: underline;
  }

  &.is-active {
    text-decoration: underline;
  }
}

@include breakpoint(md) {

  .Nav-list--head {
    text-align: left;
    flex-direction: row;
  }

  .Nav-list--foot {
    flex-direction: row;
  }

}