/*------------------------------------*\
    #COMPONENTS: CV
\*------------------------------------*/


/**
 * Component Block
 */

.Cv {
    background: #fff;
    line-height: 32px;
    margin: 0 auto;
    max-width: 1440px;
    padding: 32px;
    
    p {
      margin: 0;
      max-width: 100%;
    }
    
    img {
      object-fit: cover;
      height: 352px;
    }
  }
  
  .Cv-header {
    margin-bottom: 32px;
  }
  
  p.Cv-headerTitle {
    font-weight: 700;
    margin-bottom: 16px;
  }
  
  .Cv-headerLinks a {
    display: block;
    text-decoration: none;
  }
  
  .Cv-mainItemSection:not(:last-of-type) {
    margin-bottom: 16px;
  }
  
    p.Cv-mainItemTitle {
      border-bottom: solid 1px;
      font-weight: 700;
      margin-bottom: 16px;
      margin-top: 32px;
      padding-bottom: 16px;
  }
  
  .Cv-footer {
    margin-top: 32px;

    a {
      text-decoration: none;
    }
  }
  
  /* Flexbox helpers */
  .Cv-flex a:not(:last-of-type) {
    margin-right: 16px;
  }
  
  .Cv-flexCol:not(:first-of-type) {
    margin-top: 16px;
  }
  
  @media screen and (min-width: 800px) {
    /* Cv-container */
    .Cv-container {
       background: #fff;
       box-shadow: 0 2px 4px 0 rgba(0,0,0,.04), 0 4px 5px 0 rgba(0,0,0,.04), 0 1px 10px 0 rgba(0,0,0,.05);
       margin: 32px;
       padding: 128px 0;
    }
   
    /* Cv-header */
    .Cv-header {
      display: grid;
      grid-template-columns: 2fr 13fr 1fr 13fr 1fr 13fr 2fr;
      margin-bottom: 32px;
    }
    
    .Cv-headerTitle {
      grid-column: 2 / 3;
    }
    
    .Cv-headerLinks {
      grid-column: 6 / 7;
    }
    
    /* Cv-hero */
    .Cv-hero {
      display: grid;
      grid-template-columns: 2fr 13fr 1fr 2fr 11fr 1fr 13fr 2fr;
      margin-bottom: 64px;
    }
    
    .Cv-heroItem:nth-child(1) {
      grid-column: 1 / 5;
      grid-row: 1;
      z-index: 1;
    }
    
    .Cv-heroItem:nth-child(2) {
      grid-column: 4 / 8;
      grid-row: 1;
      z-index: 2;
    }
    
    .Cv-heroItemTitle {
      font-size: 3rem;
      line-height: 3rem;
      margin-top: 160px;
    }
    
    /* Cv-main */
    .Cv-main {
      display: grid;
      grid-template-columns: 2fr 13fr 1fr 27fr 2fr;
      grid-row-gap: 64px;
    }
  
    .Cv-mainItemSection:not(:last-of-type) {
      margin-bottom: 32px;
    }
    
    .Cv-mainItem:nth-child(1) {
      grid-column: 2 / 3;
      grid-row: 1;
    }
    
    .Cv-mainItem:nth-child(2) {
      grid-column: 4 / 5;
      grid-row: 1;
    }
    
    .Cv-mainItem:nth-child(3) {
      grid-column: 2 / 3;
      grid-row: 2;
    }
    
    .Cv-mainItem:nth-child(4) {
      grid-column: 4 / 5;
      grid-row: 2;
    }
    
    .Cv-mainItem:nth-child(5) {
      grid-column: 2 / 3;
      grid-row: 3;
    }
    
    .Cv-mainItem:nth-child(6) {
      grid-column: 4 / 5;
      grid-row: 3;
    }
    
    .Cv-mainItem:nth-child(7) {
      grid-column: 2 / 3;
      grid-row: 4;
    }
      
    .Cv-mainItem:nth-child(8) {
      grid-column: 4 / 5;
      grid-row: 4;
    }
    
    .Cv-mainItem:nth-child(9) {
      grid-column: 2 / 3;
      grid-row: 5;
    }
      
    .Cv-mainItem:nth-child(10) {
      grid-column: 4 / 5;
      grid-row: 5;
    }
    
    .Cv-mainItem:nth-child(11) {
      grid-column: 2 / 3;
      grid-row: 6;
    }
      
    .Cv-mainItem:nth-child(12) {
      grid-column: 4 / 5;
      grid-row: 6;
    }
    
    .Cv-mainItem:nth-child(13) {
      grid-column: 2 / 3;
      grid-row: 7;
    }
      
    .Cv-mainItem:nth-child(14) {
      grid-column: 4 / 5;
      grid-row: 7;
    }
    
     p.Cv-mainItemTitle {
      border: none;
      margin-bottom: 0;
      margin-top: 0;
      padding: 0;
    }
    
    /* Cv-footer */
    .Cv-footer {
      margin-top: 0;
      margin-right: 32px;
      margin-bottom: 96px;
      margin-left: 32px;
      
      
    }
    
  }

  /* Flexbox for > 960px */
  @media screen and (min-width: 960px) {
    .Cv-flex {
      display: flex;
      
    }
    
    .Cv-flexCol {
      flex: 1;   
    }
    
    .Cv-flexCol:not(:first-of-type) {
      margin-top: 0;
    }
    
     .Cv-flexCol:not(:last-of-type) {
      margin-right: 48px;
    }

    .Cv-flex--sb {
      justify-content: space-between;
    }
  }
  
  /* Helpers */
  .Cv-accent {
    font-size: 16px;
    font-style: italic;
  }

  .Cv-tdn {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
  
  
  
  