/*------------------------------------*\
    #COMPONENTS: NAV
\*------------------------------------*/

/**
 * Component Block
 */

.Nav-list {
  display: flex;
  gap: var(--space-xs);
}

.Nav-listItemLink {
  color: var(--color-dark);
  text-decoration: none;
  padding: var(--space-3xs);

  &:hover {
    color: inherit;
    background-color: unset;
    text-decoration: underline;
  }

  &.is-active {
    text-decoration: underline;
  }
}