/*------------------------------------*\
    #COMPONENTS: PAGINATION
\*------------------------------------*/

/**
 * Component Block
 */

ul.Pagination {
  display: flex;
  flex-wrap: wrap;

  .Pagination-item {
    margin-block: var(--space-s);
  }

  .Pagination-item:not(:first-of-type) {
    margin-inline-start: var(--space-3xs);
  }

  .Pagination-itemLink {
    font-family: var(--font-mono);
    font-size: var(--font-size-xs);
    @include breakpoint(md) {
      font-size: var(--font-size-xxs);
    }
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-block: var(--space-3xs); 
    padding-inline: var(--space-xs);
  }

  .Pagination-item--current {
    background-color: var(--color-brand);

    a  {
      color: var(--color-light);
      text-decoration: none;
    }
  }
}