/*------------------------------------*\
    #ABSTRACTS: COLORS
\*------------------------------------*/

$color-link: #542bff;

:root {
    --color-dark: #222;
    --color-body: #373a3c;
    --color-light: #555;
    --color-lighter: #888;
    --color-lightest: #f5f5f5;
    --color-link: #542bff;
    --color-white: #fff;
}