{{ define "main" }}
<section>
  <header class="PostHeader">
    <h1 class="PostHeader-title size-3">Notes</h1>
  </header>
  <ul class="PostList">
    {{ range .Data.Pages }}
      <li class="PostListItem h-entry">
        <h3 class="PostListItem-title p-name"><a href="{{ .Permalink }}" class="u-url">{{ .Title }}</a></h3>
        <div class="PostMeta">
            <time class="PostMeta-date dt-published">{{ .Date.Format "Jan 2, 2006" }}</time> —
            {{ partial "post/tags.html" . }}
          </div>
          <p>{{ .Description }}</p>
      <li>
    {{ end }}
  </ul>
</section>

{{ end }}
