{{ define "main" }}
  <header class="PostHeader">
    <h1 class="PostHeader-title"><span class="u-visually-hidden">Posts tagged with</span>“{{ .Title }}”</h1>
  </header>
  <section class="PostList">
  {{ range .Data.Pages }}
    <article class="PostListItem">
      <h3 class="PostListItem-title">
        <!-- If external link exists in post matter, else show post page-->
        {{ if isset .Params "affiliatelink" }}
        <a href="{{ .Params.affiliatelink }}" target="_blank">{{ .Title }}</a><span>&#8599;</span>
        {{else}}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
      </h3>
      <div class="PostListItem-meta">
        <time class="dt-published">{{ .Date.Format "Mon, Jan 2, 2006" }}</time> —
        {{ partial "post/tags.html" . }}
      </div>
      <p>{{ .Description }}</p>
    </article>
  {{ end }}
  </section>
{{ end }}
