{{ define "main" }}

  <section class="Hero region flow">
    <h1>{{ .Title }}</h1>
    {{ with .Description  }}
      <p>{{ . | markdownify }}</p>
    {{ end }}
  </section>
  <section>
    {{ range .Paginator.Pages }}
    <article class="PostListItem region flow bb h-entry">
      <time class="h2 font-bold dt-published" datetime="{{ .Date }}">
        <a data-variant="naked" href="{{ .Permalink }}" class="u-url">{{ .Date | time.Format ":date_medium" }}</a>
      </time>
      <div hidden>
        <a rel="author" class="p-author h-card" href="{{ $.Site.BaseURL }}">Harry Cresswell</a>
      </div>
      {{ partial "post/topics.html" . }}
      <p>{{ .Content }}</p>
    </article>
    {{ end }}
  </section>
  {{ partial "pagination.html" . }}

{{ end }}
