{{ define "main" }}

<h1>Design, Development, Automation.</h1>

<p class="intro">Hi! I’m Harry. I help small teams (and folks who do their own thing) build honest, sustainable businesses. Mainly using design, code and a good bit of internet wizardry ⚡️. </p>

<p>In my free time I work on side projects like <a href="https://www.indtl.com/" target="_blank">In Detail</a> and <a href="https://www.typeservices.co/" target="_blank">Type Services</a>.
  Find out <a href="/now/">what I'm doing now</a> or have a poke about and see what you find.</p>

{{ end }}
