{{ partial "head.html" . }}
  
  {{ partial "header.html" . }}

    <main id="main" class="Container">

      <article id="content" class="Post">
        <header class="PostHeader">
            <h1 class="PostHeader-title">{{ .Title }}</h1>
        </header>
        <div class="PostBody">
        {{ .Content }}

        <!-- Discus comments -->
        <!--{ { template "_internal/disqus.html" . } }-->
        </div>
    </article><!--/.Content -->

    </main>


{{ partial "newsletter.html" . }}

{{ partial "footer.html" . }}
