{{ define "main" }}

  <article class="flow">
    <header class="Hero region flow">
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
        <p class="font-step-1">{{ . }}</p>
      {{ end }}
      <div class="cluster">
        <time class="dt-published" datetime="{{ .Date }}">
          {{ with .PublishDate.Format "Jan 2, 2006" }}
            {{ . }}
          {{ else }}
            {{ .Date.Format "Jan 2 2006" }}
          {{ end }}
        </time>
        {{ if .Params.topics }}
          {{ partial "post/topics.html" . }} 
        {{ end }}
      </div>
    </header>

    <section class="e-content flow">
      {{ partial "heading-anchor.html" .Content }}
    </section>

    {{ $source_title := .Params.source_title }}
    {{ $source_link := .Params.source_link  }}
    {{ $author := .Params.author }}
    {{ if eq .Section "links" }}
      {{ with $source_link }}
      <div>
        <a href="{{ . }}">{{ $source_title }} <span>&#8599;</span></a> {{ with $author }}from {{ . }}.{{ end }}
      </div>
      {{ end }}
    {{ end }}

    {{ partial "reply-by-email.html" (dict "button_text" "Reply by email" ) }}

     <footer class="region">{{ partialCached "post/author.html" . }}</footer>

  </article><!--/.Content -->


{{ end }}