/*------------------------------------*\
    #LAYOUTS: BLOCKS
\*------------------------------------*/

/**
 * Component Block
 */

 .Blocks {
   h1,
   h2 {
     margin: 0;
     line-height: 1.1;
   }

   h3 {
    line-height: 1.2;
   }
   

  section {
   margin-block: var(--space-l);
  }

 @include breakpoint(md) {
  section {
      margin-block: var(--space-2xl);
    }
  }
}