/*
GRID
A composition that creates a simple 1 dimentional 12 column grid, using CSS grid. Content will span a minimum of 3 columns, for sake of simplicity.
*/

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-placement, auto-fill),
      minmax(var(--grid-min-item-size, 16rem), 1fr));
  gap: var(--gutter, var(--space-s-l));
}

/* 
EXCEPTIONS
  
@link https://cube.fyi/exception.html 
*/

/* Two column when space permits */
.grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}

/* Four column when space permits */
.grid[data-layout='25x4'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(10rem, 20vw, 26rem);
}