<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Titles -->
  <title>{{ if .IsHome -}}{{ .Site.Title }} &middot; {{ $.Site.Params.strapline }}{{- else -}}{{ .Title }} | {{ .Site.Title }} {{- end }}</title>
  <meta name="title" content="{{ if .IsHome -}}{{ .Site.Title }} &middot; {{ $.Site.Params.strapline }}{{- else -}}{{ .Title }} &middot; {{ .Site.Title }} {{- end }}">
  <!-- Descriptions -->
  <meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  {{ with .Params.keywords  }}
    {{ $items := delimit . ", " }}
    <meta name="keywords" content="{{ $items | lower }}">
  {{ else }}
    <meta name="keywords" content="{{ .Site.Params.keywords | lower }}">
  {{ end }}
  <!-- Open Graph / Facebook -->
  <meta property="og:title" content="{{ if .IsHome -}}{{ .Site.Title }} &middot; {{ $.Site.Params.strapline }}{{- else -}}{{ .Title }} &middot; {{ .Site.Title }} {{- end }}">
  <meta property="og:description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ $.Site.Params.Description }}{{ end }}">
  <meta property="og:site_name" content="{{ if .IsHome -}}{{ .Site.Title }} &middot; {{ $.Site.Params.strapline }}{{- else -}}{{ .Title }} &middot; {{ .Site.Title }} {{- end }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}{{ with .Site.Params.card_image }}{{ . }}{{ else }}img/apple-touch-icon.png{{ end }}">
  <!-- if featured image exists in file frontmatter, use for open graph data -->
  {{ if isset .Params "feature" }}
  <meta property="og:image" content="{{ .Params.feature }}">
  <!-- else if no image in frontmatter, and sections are not equal to articles or notes, then display image --> 
  {{ else }}
  <meta property="og:image" content="https://res.cloudinary.com/harrycresswell/image/upload/v1634728990/hc/harrycresswell-og-image.png">
  {{ end }}
  <!-- Twitter -->
  {{ if not .Site.Params.Twitter.hide }}
  <meta property="twitter:card" content="summary">
  <meta property="twitter:url" content="{{ .Permalink }}">
  <meta property="twitter:title" content="{{ if .IsHome -}}{{ .Site.Title }} &middot; {{ $.Site.Params.strapline }}{{- else -}}{{ .Title }} &middot; {{ .Site.Title }} {{- end }}">
  <meta property="twitter:description" content="{{ with .Params.Description }}{{ . }}{{ else }}{{ $.Site.Params.Description }}{{ end }}">
  {{ with .Site.Params.twitter.handle }}
  <meta property="twitter:site" content="{{ . }}">
  <meta property="twitter:creator" content="{{ . }}">
  {{ end }}
  <!-- if featured image exists in file frontmatter, use for open graph data -->
  {{ if isset .Params "feature" }}
  <meta property="twitter:image" content="{{ .Params.feature }}">
  <!-- else if no image in frontmatter, and sections are not equal to articles or notes, then display image --> 
  {{ else }}
  <meta property="twitter:image" content="https://res.cloudinary.com/harrycresswell/image/upload/v1634728990/hc/harrycresswell-og-image.png">
  {{ end }}
  {{ end }}
  <!-- canonical link tag -->
  <link rel="canonical" href="{{ .Permalink }}">
  <!-- Pinterest Verification -->
  <meta name="p:domain_verify" content="c60dc1e9be844be29f0fb5525b9afe6f"/>
  <!-- Google Verification -->
  <meta name="google-site-verification" content="9G-wiIrmxQgDxbcs3a3xPW--q3Mxb1VGFN7BsEfJdDk" />
  <!-- Disable save to Pintrest button on images -->
  <meta name="pinterest" content="nopin" />
  <!-- We are Humans -->
  <link rel="author" href="humans.txt" />
  <!-- Me -->    
  {{ with .Site.Params.author.name }}<meta name="author" content="{{ . }}">{{ end }}
  {{ with .Site.Params.author.github }}<link href="{{ . }}" rel="me">{{ end }}
  {{ with .Site.Params.author.linkedin }}<link href="{{ . }}" rel="me">{{ end }}
  <!-- IndieCert -->
  <link rel="webmention" href="https://webmention.io/harrycresswell.com/webmention" />
  <link rel="pingback" href="https://webmention.io/harrycresswell.com/xmlrpc" />

  {{ partial "head/css.html" . }}

  <!-- Icons -->
  <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}img/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="{{ .Site.BaseURL }}img/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="{{ .Site.BaseURL }}img/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}img/favicon.ico" type="image/x-icon">
  <!-- RSS -->
  {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
</head>
