<header class="region">
  <div hidden>
    <img class="u-photo" src="https://harrycresswell.com/img/hc.jpg" alt="Harry Cresswell">
    <p class="p-note">{{ .Site.Params.Strapline }}</p>
    <a href="mailto:{{ .Site.Author.email }}" rel="me" class="u-email">{{ .Site.Author.email }}</a>
    <span class="p-name u-url visually-hidden" rel="me">{{ .Site.Title }}</span>
  </div>
  <nav data-variant="main" aria-label="Main">
    <ul class="cluster">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <li>
        <a data-variant="naked" {{ if eq $currentPage.RelPermalink .URL }}data-state="active"{{ end }} href="{{ .URL }}">{{ .Name }}</a>
      </li>
    {{ end }}
    </ul>
  </nav>
</header>