<section class="region flow" id="signup">
  <h2>
    {{ with .Params.signup_title }}
      {{ . }}
    {{ else }}
      {{ .Site.Data.settings.signup.title | markdownify }}
    {{ end }}
  </h2>
  <p>
    {{ with .Params.signup_desc }}
      {{ . | markdownify }}
    {{ else }} 
      {{ .Site.Data.settings.signup.desc | markdownify }}
    {{ end }}
  </p>

  <form id="sib-form" class="Subscribe switcher" data-layout="33x3" action="{{ with .Params.signup_listURL }}{{ . }}{{ else }}{{ .Site.Data.settings.signup.list_url }}{{ end }}" target="_blank" method="POST">
      
    <div>
      <label for="FIRSTNAME" data-required="*">First Name</label>
      <input maxlength="200" type="text" id="FIRSTNAME" name="FIRSTNAME" autocomplete="off" placeholder="e.g. Harry" data-required="true" required />
    </div>

    <div>
      <label for="EMAIL">Email Address</label>
      <input type="email" id="EMAIL" name="EMAIL" autocomplete="off" data-required="true" placeholder="e.g. harry@gmail.com" required />
    </div>
    
    <div>
      <div class="visually-hidden">
        <!-- Add custom field showing what page folks sign up on -->
        <label class="visually-hidden" for="LOCATION">Location</label>
        <input class="visually-hidden" type="text" id="LOCATION" name="LOCATION" autocomplete="off" value="{{ .Title }}" />
      </div>

      <div>
        <label class="visually-hidden" for="subscribe">{{ with .Params.signup_button_text }}{{ . }}{{ else }}Subscribe{{ end }}</label>
        <button form="sib-form" class="w-full" id="subscribe" name="subscribe" type="submit" value="{{ with .Params.signup_button_text }}{{ . }}{{ else }}Subscribe{{ end }}">Subscribe</button>
      </div>

      <input class="visually-hidden" type="text" name="email_address_check" value="">
      <input class="visually-hidden" type="hidden" name="locale" value="en">
      <input class="visually-hidden" type="hidden" name="html_type" value="simple">
    </div> 
  </form>
</section>

