/*
Heading-anchor
*/

.heading-anchor {
  display: inline;
  margin-left: .5rem;
  opacity: 0;
}

h2:focus>.heading-anchor,
h2:hover>.heading-anchor,
h3:focus>.heading-anchor,
h3:hover>.heading-anchor,
h4:focus>.heading-anchor,
h4:hover>.heading-anchor {
  opacity: 1;
}

.heading-anchor:focus {
  opacity: 1;
}

.heading-anchor {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--color-brand);
    background: none;
  }
}