/*------------------------------------*\
    #OBJECTS: SKIP-LINK
\*------------------------------------*/


/**
 * Component Block
 */

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link:focus {
  background-color: var(--color-bg);
  position: absolute;
  z-index: 2;
  top: 1rem;
  right: 1rem;
}