/*------------------------------------*\
    #UTILITIES: COLOR
\*------------------------------------*/

.dark {
  color: var(--color-text);
}

.light {
  color: var(--color-bg);
}

.lighter {
  color: var(--color-bg-mod-1);
}

.lightest {
  color: var(--color-bg-mod-2);
}

.link {
  color: var(--color-brand);
}