/*------------------------------------*\
    #UTILITIES: LAYOUT
\*------------------------------------*/

.u-visually-hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/**
 * FULL BLEED
 *
 * Add this class to an element to make it fill the width of the screen 
 * and sit horizontally central
 * https://andy-bell.design/wrote/creating-a-full-bleed-css-utility/
 */
.full-bleed {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}


.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.skip-link:focus {
  position: absolute;
  top: 0;
  left: 0;
}