/*------------------------------------*\
    #UTILITIES: TYPOGRAPHY
\*------------------------------------*/

/* font family */
.mono {
  font-family: var(--font-accent);
}

/* font size */
.body {
  font-size: var(--step-0);
  font-weight: var(--font-weight-regular);
  @include margin-top(0);
}

.small {
  font-size: 80%;
}

/* font weight */
.strong {
  font-weight: var(--font-weight-medium);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}